body {
  padding: 50px;
  font: 14px 'Inika', serif, "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#results {
    display: none;
    display: block;
    position: absolute;
    left: 310px;
}

.location_item {
    margin: 0;
}

.location_item:hover {
    background-color: #aaa;
}

#controls {
    margin-right: 35px;
}

#controls label {
    font-weight: bold;
}

#current_temp {
    font-size: 20px;
    float: left;
}

#loader {
    display: none;
}
