body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#results {
    display: none;
    float: left;
}

.location_item {
    margin: 0;
}

.location_item:hover {
    background-color: #aaa;
}

#controls {
    float: left;
    margin-right: 20px;
}
